<!-- Mostra a View -->
<ion-view>
    <!-- Barra de navegação fora do menu -->
    <ion-nav-bar class="bar bar-positive">
        <!-- Título -->
        <ion-nav-title>Code Delivery - Login</ion-nav-title>
    </ion-nav-bar>
    <!-- class="padding" Da espaço de todos os lados -->
    <ion-content class="padding">
        <!-- ng-submit="login()" Captura o evento submit e chama a função que esta lá dentro do nosso login -->
        <form name="form" ng-submit="login()">
            <!-- class="list list-inset" Preenche toda a janela -->
            <div class="list list-inset">
                <!-- class="item item-input" Altera o estilo do campo -->
                <label class="item item-input">
                    <!-- ng-model="user.username" Liga o form ao controller -->
                    <input type="text" name="username" placeholder="Digite seu username" ng-model="user.username" required="required" />
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="password" name="password" placeholder="Digite sua senha" ng-model="user.password" required="required" />
                </label>
            </div>
            <!-- button-full Preenche a tela toda -->
            <button type="submit" class="button button-full button-assertive">Login</button>
        </form>
    </ion-content>
</ion-view>

