<ion-view>
    <ion-nav-title>Pedido: #{{order.id}}</ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Total: R$ {{order.total}}</h2>
    </div>
    <!-- padding has-subheader Da um espaço e fala que existe um subheader -->
    <ion-content class="padding has-subheader">
        <div class="item item-divider">
            Data da compra: {{order.created_at.date|limitTo: 10|date: 'dd/MM/yyyy'}}
        </div>
        <ion-list>
            <!-- ng-repeat="" varre a coleção passada por parâmetro -->
            <!-- Pra cada elemento de products, faça algo -->
            <ion-item ng-repeat="item in order.items.data">
                <h2>{{item.product.data.name}}</h2>
                <div class="row">
                    <div class="col">
                        Quantidade: {{item.qtd}} <br />
                        <i class="ion ion-cash"> {{item.price}}</i>
                    </div>
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{item.qtd * item.price}}</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>