<ion-view>
    <ion-nav-title>Pedido</ion-nav-title>
    <div class="bar bar-subheader">
        <button class="button ion-icon ion-plus" ng-click="openListProducts()"></button>
        <h2 class="title">Total: R$ {{total}}</h2>
        <!-- ng-class="{'button-assertive': showDelete,'': !showDelete}"   -->
        <button class="button ion-icon ion-minus-circled" ng-click="showDelete = !showDelete"
        ng-class="{'button-assertive': showDelete,'': !showDelete}">
        </button>
    </div>
    <ion-content class="padding has-subheader">
        <!-- show-delete = Define quando o ionlist exibe o botão de exclusão e quando não exibe por variável true ou false -->
        <ion-list show-delete="showDelete">
            <!-- ng-show="cupom.value != null" se o cupom for diferente de vazio ele mostra -->
            <ion-item class="item-balanced item-icon-left" ng-show="cupom.value != null">
                <span class="icon ion-close" ng-click="removeCupom()"></span>
                <strong>Cupom</strong>
                <span class="badge badge-balanced">- R$ {{cupom.value}}</span>
            </ion-item>
            <!-- items variável que vem do controller checkout.js -->
            <ion-item ng-repeat="o in items" ng-click="openProductDetail($index)">
                <h2>{{o.name}}</h2>
                <div class="row">
                    <!-- Div esquerda -->
                    <div class="col">
                        Qtd: {{o.qtd}} <br/>
                        <i class="ion ion-cash"> {{o.price}}</i>
                    </div>
                    <!-- Div direita -->
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{o.qtd * o.price}}</i>
                    </div>
                </div>
                <ion-delete-button class="ion ion-minus-circled"></ion-delete-button>
            </ion-item>
        </ion-list>
        <!-- ng-disabled="cupom.value != null" Desabilita o botão se a expressão for verdadeira -->
        <button type="button" class="button button-balanced button-full" ng-click="readBarCode()" ng-disabled="cupom.value != null">
            Adicionar cupom
        </button>
        <button type="button" class="button button-assertive button-full" ng-click="save()">
            Salvar Pedido
        </button>
    </ion-content>
</ion-view>