<ion-view>
    <ion-nav-title>Produto: {{product.name}}</ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Detalhes do produtos</h2>
    </div>
    <ion-content class="padding has-subheader">
        <div class="list card">
            <div class="item item-avatar">
                <h2>{{product.name}}</h2>
                Quantidade: {{product.qtd}} <br/>
                <i class="ion ion-cash"> {{product.price}}</i>
            </div>
            <label class="item item-input">
                <span class="input-label">Quantidade:</span>
                <!-- ng-model víncula o valor de um campo a variável -->
                <input type="text" placeholder="Forneça a quantidade" ng-model="product.qtd" />
            </label>
            <button type="button" class="button button-assertive button-full" ng-click="updateQtd()">
                Alterar Quantidade
            </button>
            <div class="item item-body">
                <h2>Descrição</h2>
                <p>{{product.description}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>