<ion-view>
    <ion-nav-title>Pedido realizado com sucesso</ion-nav-title>
    <div class="bar bar-balanced bar-subheader">
        <h2 class="title">Total: R$ {{total}}</h2>
    </div>
    <ion-content class="padding has-subheader">
        <!-- show-delete = Define quando o ionlist exibe o botão de exclusão e quando não exibe por variável true ou false -->
        <ion-list>
            <ion-item class="item-dark" ng-show="cupom.value != null">
                <strong>Cupom</strong>
                <span class="badge badge-dark">- R$ {{cupom.value}}</span>
            </ion-item>
            <ion-item ng-repeat="o in items">
                <h2>{{o.name}}</h2>
                <div class="row">
                    <!-- Div esquerda -->
                    <div class="col">
                        Qtd: {{o.qtd}} <br/>
                        <i class="ion ion-cash"> {{o.price}}</i>
                    </div>
                    <!-- Div direita -->
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{o.qtd * o.price}}</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <button type="button" class="button button-royal button-full" ng-click="openListOrder()">
            Visualizar meus pedidos
        </button>
    </ion-content>
</ion-view>