<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-clear button-icon ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    <!--<ion-content class="has-header padding">
      <ion-nav-view name="menuContentReg"></ion-nav-view>
    </ion-content>-->
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Bem vindo {{user.name}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close ui-sref="client.order">
          <i class="icon ion-android-list"></i> Meus pedidos
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="client.checkout">
          <i class="icon ion-bag"></i> Fazer pedido
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
      <h1 class="title">Code Delivery</h1>
      <div class="buttons">
        <button class="button button-icon ion-log-out"></button>
      </div>
    </ion-footer-bar>
  </ion-side-menu>

</ion-side-menus>