<ion-view>
    <ion-nav-title>Meus Pedidos</ion-nav-title>
    <!-- padding has-subheader Da um espaço e fala que existe um subheader -->
    <ion-content class="padding has-header">
        <!-- Componente de Refresh -->
        <ion-refresher pulling-text="Puxe para atualizar ..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <!-- ng-repeat="" varre a coleção passada por parâmetro -->
            <!-- Pra cada elemento de products, faça algo -->
            <ion-item ng-repeat="o in items" ng-click="openOrderDetail(o)">
                <div class="row">
                    <div class="col">
                        <!-- Pega 10 primeira letras com limitTo: 10 -->
                        <h2>{{o.created_at.date|limitTo: 10|date: 'dd/MM/yyyy'}}</h2>
                        <!-- Pega 2 posições do array com limitTo: 2 e chama o filter join criado la nos filters -->
                        <p>{{o.product_names | limitTo: 2| join: ', '}}</p>
                        <i class="ion ion-ios-cart"> {{o.product_names.length}} Items comprado(s)</i>
                    </div>
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{o.total}}</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>