<ion-view>
    <ion-nav-title>Nossos Produtos</ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Escolha seu produto</h2>
    </div>
    <!-- padding has-subheader Da um espaço e fala que existe um subheader -->
    <ion-content class="padding has-subheader">
        <ion-list>
            <!-- ng-repeat="" varre a coleção passada por parâmetro -->
            <!-- Pra cada elemento de products, faça algo -->
            <ion-item ng-repeat="o in products" ng-click="addItem(o)">
                {{o.name}}
                <!-- Deixa o elemento la no canto -->
                <span class="item-note">
                    <i class="ion ion-cash"> {{o.price}}</i>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>